<li *ngIf="cartItems.length>0" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Sepetim
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li *ngFor="let cartItem of cartItems"><a class="dropdown-item">
          
       
        <span class="translate-middle badge rounded-pill bg-danger">
            {{cartItem.quantity}} </span>{{cartItem.product.productName}} <span (click)="removeFromCart(cartItem.product)" class="badge bg-secondary">X</span> </a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" >Sepete Git</a></li>
    </ul>
  </li>
 
  